.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0px 20px 0px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skeleton {
  background-color: lightgrey;
  width: 300px;
  height: 500px;
  padding: 20px 10px;
}

.item {
  background-color: teal;
  padding: 20px 10px;
  color: white;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.item img {
  width: 200px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.overlay:hover {
  opacity: 1;
}
